colors = {
  white: #fff,
  black: #000,
  blueBackground: #0079bf,
  blueLight: #5eaddb,
  blueLight2: #88D3FE,
  blueMed: #298FCA,
  blueDark: #1489cc,
  greenMed1: #61BD4F,
  greenMed2: #5AAC44,
  greenMed3: #2F9D00,
  greenMed4: #257B00,
  greenDark: #3F6F21,
  headerDimmer: rgba(0, 0, 0, 0.25),
  headerBrighter: rgba(0, 0, 0, 3),
  grayLight: #f3f3f3,
  grayLight2: #e6e2e2,
  grayLight3: #DFDEDE,
  grayMed: #cbcecf,
  grayMed2: #939393,
  grayMed3: #757676,
  grayDark: #424343,
  redDark: #B04632,
  redMed1: #CF513D,
  redMed2: #B04632,
  labelYellow: #F2D600,
  labelOrange: #FFAB4A,
  labelRed: #EB5A46,
  labelPurple: #C377E0,
  labelBlue: #0079BF,
  labelGreen: #51E898
}
